.screen{
    font-family: 'digital-7', sans-serif;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:90%;
    font-size: 3.5rem;
    height: 30px;
    border:none;
    background-color:rgb(192, 94, 94);
    color:white;
    text-align: right;
    padding: 20px 10px 10px 20px;

}